.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #121212;
}

.login-card {
  width: 340px;
  background: #181818;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.login-card h1 {
  margin-bottom: 5px;
}

.subtitle {
  color: #b3b3b3;
  font-size: 14px;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  background: #1e1e1e;
  border: 1px solid #333;
  color: white;
  border-radius: 8px;
}

.login-btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #1db954;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.auth-links {
  margin-top: 15px;
  font-size: 13px;
  color: #b3b3b3;
}

.auth-links a {
  color: white;
  text-decoration: none;
}